@model PortfolioWebApp.Models.PostViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" placeholder="Post name..."/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label>Category Name</label>
                    @await Component.InvokeAsync("Category")
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                @Html.TextAreaFor(t => t.Title, new { @class = "form-control" })
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label class="control-label">Click here to select photos (max 6 photos!).</label>
                <div>
                    <div class="custom-file">
                        <input multiple name="fileobj" id="gallery-photo-add" type="file" class="form-control custom-file-label" accept="image/*" />
                    </div>
                </div>
                <span class="text-danger">@ViewData["Message"]</span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" style="margin-right:15px;"/>
                </div>
                <div>
                    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var filename = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(filename);
            });
        });

    </script>
}
