@model ContactViewModel
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var date = DateTime.Now.ToString("MMMM dd, yyyy");
}

<div class="outer-container">
    <div class="single-post">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="breadcrumbs flex align-items-center">
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li>Contact</li>
                    </ul><!-- .breadcrumbs -->
                </div><!-- .col -->
            </div><!-- .row -->

            <div class="row">
                <aside class="col-12 col-lg-3 offset-lg-1">
                    <div class="entry-meta">
                        <div class="posted-date">
                            <label>Date</label>
                            <span class="date-format"><a>@date</a></span>
                        </div><!-- .posted-date -->

                        <div class="post-share">
                            <label>Social Media Accounts</label>
                            <ul>
                                <li class="fb"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="gp"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li class="in"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li class="tw"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div><!-- .post-share -->
                    </div><!-- .entry-meta -->
                </aside><!-- .col-md-3 -->

                <div class="col-12 col-lg-7">
                    <div class="content-area">
                        <div class="comments-form">
                            <div class="comment-respond">
                                <h3 class="comment-reply-title">Let's work together</h3>

                                <form class="comment-form" asp-action="Contact">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                    <input type="text" asp-for="Name" placeholder="Name">

                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    <input type="email" asp-for="Email" placeholder="Email">

                                    <span asp-validation-for="Message" class="text-danger"></span>
                                    <textarea rows="4" asp-for="Message" placeholder="Messages"></textarea>

                                    <input type="submit" value="send message">
                                </form><!-- .comment-form -->
                            </div><!-- .comment-respond -->
                        </div><!-- .comments-form -->
                    </div><!-- .content-area -->
                </div><!-- .col-12 -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .single-post -->
</div><!-- .outer-container -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}